[Desktop Entry]
Name=Update Orrery Code
Comment=Update Python code from GitHub
Exec=sh -c 'cd "$(dirname "$(readlink -f "%k")")" && chmod +x update_code.sh && ./update_code.sh'
Icon=system-software-update
Terminal=true
Type=Application
Categories=Utility;
